<?xml version="1.0" encoding="UTF-8"?>
<root>
  <item name="androidx.core.location.GnssStatusCompat int getConstellationType(int)">
    <annotation name="androidx.annotation.IntDef">
      <val name="value" val="{androidx.cor